[Unit]
Description=Wait for ntpd to synchronize system clock
After=ntp.service
Requires=ntp.service
Before=time-sync.target
Wants=time-sync.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'while ! /usr/sbin/ntp-wait; do sleep 1; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
